/* Example custom CSS overrides */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
.page-content {
    display: none;
}

.page-content.active {
    display: block;
}